.container {
    background-color: var(--yellow-hex);
    color: var(--blue-hex);
    padding: calc(9vw + 90px) 8vw;
    text-align: center;
    position: relative;
}
.checklist {
    padding: 6vw 0;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4vw;
}
@media screen and (max-width: 768px) {
    .checklist {
        grid-template-columns: 1fr;
    }
}
.title {
    font-weight: 700;
    text-align: left;
}
.checklistContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2rem 0;
}
.checklistContainer::before {
    content: '';
    display: block;
    background: url(/checklist.svg) center left no-repeat;
    background-size: contain;
    width: calc(30px + 1vw);
    height: 5vw;
    flex-shrink: 0; /* Prevent shrinking */
}

.checklistContainer.clicked::before {
    content: '';
    display: block;
    background: url(/checklist-clicked.svg) center left no-repeat;
    background-size: contain;
    width: calc(30px + 1vw);
    height: 8vw;
    flex-shrink: 0; /* Prevent shrinking */
}
/* @media screen and (max-width: 768px) {
    .checklistContainer::before {
        width: 25px;
        height: 25px;
    }
} */
.item {
    text-align: left;
    padding-left: 20px;
    font-size: 0.9rem;;
}
.voteBurst {
    position: absolute;
    top: 0;
    left: calc(80px + 25vw);
    background: transparent url(/stickers/voteBurst.svg) no-repeat;
    background-position: top right;
    background-size: contain;
    width: calc(20vw + 50px);
    height: calc(20vw + 50px);
    z-index:4;
    pointer-events: none;
}
.voteCircle{
    position: absolute;
    bottom: 1vw;
    right: calc(60px + 25vw);
    background: transparent url(/stickers/voteCircle.svg) no-repeat;
    background-position: top right;
    background-size: contain;
    width: calc(15vw + 40px);
    height: calc(15vw + 40px);
    z-index: 4;
    pointer-events: none;
}

    .links {
        max-width: 400px;
        margin: 0 auto;
        display: flex;
        /* flex-direction: column;
        justify-content: center;
        align-items: center; */
    }
    @media screen and (max-width: 500px) {
        .links {
            flex-direction: column;
            justify-content: center;
            align-items: center; 
        }
    }
    .link {
        width: 100%;
        margin: 0 0.5rem;
        height: 76px;
        /* display: flex; */
    }
    .link:hover::before {
        transform: translateY(30px);
    }
    .link span {
        width: 100%;
        text-align: center;
        justify-content: center;
        white-space: nowrap;
        height: 66px;
        margin-top: 7px
    }
    .shareBtn {
        /* display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; */
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0;
    }
.shareLinks {
    width: 0;
    height: 65px;
    opacity: 0;
    pointer-events: none;
    margin-top: 1rem;
}

.openShareLinks {
    width: auto;
    height: 65px;
    opacity: 1;
    pointer-events: all;
    margin-top: 1rem;
}
.openShareLinks button {
    margin: 0 0.1rem 1rem;
}