.container {
    background-color: var(--blue-hex);
    color: white;
    padding:  calc(9vw + 90px) 8vw;
    text-align: center;
}
.dates {
    padding: 3rem 0;
    max-width: 1200px;
    margin: 0 auto;
}
.datesContainer {
    display: flex;
    justify-content: stretch;
}
.datesContainer div {
    padding: 1rem;
    margin: 2rem 0;
    text-align: left;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
}
.datesContainer .number {
    width: 8vw;
    text-align: center;
    background: url(/starburst-red.svg) center no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.datesContainer .date {
    width: 22vw;
    flex-shrink: 0;
}
.datesContainer .title {
    flex-grow: 1;
}
@media screen and (max-width: 768px) {
    .datesContainer {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: auto auto;
    }
    .datesContainer div:nth-child(3) {
        grid-column: span 2;
    }
    .datesContainer .number {
        width: 62px;
    }
    .datesContainer .date {
        width: auto;
        font-size: 1.8rem;
    }
    .datesContainer div {
        margin: 0;
        padding: 1rem 0;
    }
    .datesContainer .title {
        margin-bottom: 2rem;
        border-bottom: 1px solid white;
    }
}