.container {
    position: relative;
    color: var(--blue-hex);
    padding: calc(9vw + 90px) 9vw 6vw;
    text-align: center;
}
.firecracker {
    position: absolute;
    top: calc(-10vw - 30px);
    right: calc(80px + 15vw);
    background: transparent url(/stickers/02.svg) no-repeat;
    background-position: top right;
    background-size: contain;
    width: calc(30vw + 45px);
    height: calc(25vw + 40px);
    z-index:4;
    pointer-events: none;
}
.faqs {
    padding: 3rem 0;
    max-width: 900px;
    margin: 0 auto;
}
.faqItem {
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 0;
    /* cursor: pointer; */
    border-bottom: 2px solid var(--blue-hex);
    border-width: 2px
}

.faqItem:last-of-type {
    border: none;
}
   
button.question {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    border: none;
    appearance: none;
    /* cursor: pointer; */
    background-color: var(--yellow-hex);
    font-weight: 700;
    font-size: 1rem;
    color: var(--blue-hex);
    text-align: left;
    z-index: 3;
}
button.question::after {
    position: relative;
    content:'';
    background: transparent url(/plus.svg) center no-repeat;
    background-size: 12px;
    width: 12px;
    height:12px;
    transition: all 0.2s ease-out;
    transform: rotate(0);
    z-index: 2;
}
button.question.active::after {
    transform: rotate(135deg);
}
.answer {
    position: relative;
    top:-50px;
    transition: all .3s ease-in-out;
    padding: 0 3rem 0 0;
    box-sizing: border-box;
    font-size: 0.9rem;
    text-align: left;
    line-height: 1.5;;
    overflow: hidden; 
    max-height: 0;
    opacity: 0; 
}

.answer.open {
    top:0;
    max-height: none; 
    opacity: 1;
    padding: 0 3rem 3rem 0;
}
  
  
.answer a {
    font-weight: normal;
    text-decoration: underline;
    color: inherit;
}
.answer a:active,
.answer a:visited,
.answer a:focus {
    color: inherit;
}
  
.answer a:hover {
    color: inherit;
}