.container {
    padding:  calc(13vw + 90px) 2vw 9vw;
    position: relative;
}
.linkContainer {
    position: relative;
    padding: 2vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
@media screen and (max-width: 555px) {
    .linkContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    margin: 0 2vw;
    text-transform: uppercase;
}
.icon {
    margin-bottom: 10px;
    width: 117px;
    height: 117px;
    margin: 20px;
    max-height: 100px;
    object-fit: contain;
    transform: scale(0.9);
    transform-origin: 0 0;
    transition: transform 0.2s ease-in-out;
}
.link:hover .icon {
    transform: scale(1);
}