
.customCursor {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-23px, -42px) scale(1);
    transition: transform 0.2s ease-in-out;
    width: 112px;
    height: 128px;
    background: transparent url('/cursor-default.svg') center no-repeat;
    background-size: contain;
    z-index: 9999999999;
    pointer-events: none;
  }
  .active {
    background: transparent url('/cursor-active.svg') center no-repeat;
    background-size: contain;
  }
  @media screen and (max-width: 768px) {
    .customCursor {
        width: 0;
        height: 0;
        display: none;
    }
  }