.hero {
    width:95%;
    position: absolute;
    z-index: 1;
    top: calc(1vw + 45px);
    text-align: center;
    pointer-events: none;
}
.hero svg {
    width: 100%;
}
.headline {
   height: calc(12vw + 80px);
   margin-bottom: 2rem;
}