.hero {
    width:95%;
    position: absolute;
    z-index: 1;
    top: calc(1vw + 25px);
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    pointer-events: none;
}
.hero svg {
    width: 100%;
}
.headline {
   height: calc(12vw + 60px);
   margin-bottom: 2rem;
}