@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
@import url("https://use.typekit.net/wnt7tob.css");

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-sans: "Montserrat", sans-serif;
  --font-black: "roc-grotesk-wide", sans-serif;
  --font-blackComp: "roc-grotesk-compressed", sans-serif;

  --yellow-hex: #F3C300;
  --blue-hex: #282560;
  --red-hex: #EF4239;
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-sans);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y:scroll;
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  color: var(--blue-hex);
  background: var(--yellow-hex);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: none !important;
}
button {
  background-color: transparent;
  border: none;
  appearance: none;
  cursor: none !important;
}
@media screen and (max-width: 768px) {
  a, button {
    cursor: default !important;
  }
}
p {
  margin: 0 0 0.5rem;
  line-height: 1.4;
}
h1, h2, h3, h4, h5 {
  font-family: var(--font-black);
  font-weight: 800;
  font-style: normal;
  margin: 0 auto;
  max-width:900px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
}
h1 {
  font-size: clamp(4.8rem, 7.2vw, 7.8rem);
}
h2, 
h3,
h4,
h5 {
  font-size: clamp(2rem, 3.5vw, 4.3rem);
  margin: 0 auto 1rem;
}
.container {
  position: relative;
}
.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.font-weight-bold {
  font-weight: 700;
}

/* BUTTONS*/
.button {
  display: inline-flex;
  align-items: center;
  position: relative;
  padding: 0 2vw;
  margin: 2vw 0;
  height:60px;
  background-color: var(--yellow-hex);
  border: 3px solid var(--blue-hex);
  color: var(--blue-hex);
  font-weight: 900;
  font-size: 1rem;
  cursor: pointer;
}
.btn {
  position: relative;
  display: inline-flex;
  height: 70px;
  margin: 2vw 0;
}
@media screen and (max-width: 425px) {
  .button, 
  .btn,
  .bth span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;;
  }
}
.btn span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 calc(2vw + 5px);
  width: 100%;
  height:60px;
  margin-top:10px;
  border-width: 3px;
  border-style: solid;
  font-weight: 900;
  font-size: 1rem;;
  transition: all 0.15s ease-out;
  z-index: 2;
}
.btn:hover span {
  transform: translateY(-10px);
}
.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 6px);
  height: 40px;
  border: 3px solid transparent;
  transform: translateY(5px);
  transition: all 0.15s ease-out;
  z-index: 1;
}
.btn:hover::before {
  transform: translateY(25px);
}
/* blue button colors */
.btn-blue-fill span {
  background-color: var(--blue-hex);
  border-color: var(--yellow-hex);
  color: var(--yellow-hex);

}
.btn-blue-fill:hover::before {
  border-color: var(--yellow-hex);
  background-color: var(--blue-hex);
}

/* blue button colors */
.btn-yellow-fill span {
  background-color: var(--yellow-hex);
  border-color: var(--blue-hex);
  color: var(--blue-hex);

}
.btn-yellow-fill:hover::before {
  border-color: var(--blue-hex);
}
